PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/notifications?schema=public"
APP_SECRET="troque-por-uma-chave-forte-com-32-caracteres-ou-mais"
IS_MANAGER_ON=true
JOB_INTERVAL_MS=120000
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_PHONE_NUMBER=""
RESEND_API_KEY=""
RESEND_FROM_EMAIL="noreply@example.com"
